<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SqlServerConnectionString" value="Data Source=.;Initial Catalog=test;Integrated Security=SSPI;"/>
    <add key="SqlServer2005ConnectionString" value="Data Source=.;Initial Catalog=test;Integrated Security=SSPI;"/>
	  <add key="SqlServerCeConnectionString" value="Data Source=testdb.sdf"/>
    <add key="MySqlConnectionString" value="Database=test;Data Source=localhost;User Id=root;Password=123;"/>
    <add key="SQLiteConnectionString" value="Data Source=:memory:;version=3"/>
    <add key="OracleConnectionString" value="Data Source=XE;User ID=TEST;Password=test;"/>
	<add key="NpgsqlConnectionString" value="SERVER=localhost;Database=test;User ID=postgres;Password=123;Protocol=3;Pooling=true;MinPoolSize=1;MaxPoolSize=20;ConnectionLifeTime=150;"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
